<div class="c-section-title w-centerBlock">
    <h2>Featured Product</h2>
</div>
<div class="w-centerBlock clearfix">
    {% for i in range(1, 12) %}
     {% include "product-grid-item" %}
    {% endfor %}
</div>
