<div class="w-footer">
    <div class="w-centerBlock">
       {% include "logo" %}

        <div>
            {{ sections.settings.footer_link_list}}

            {% if settings.social_facebook_link %}
                <a href="{{ settings.social_facebook_link }}">facebook</a>
            {% endif %}
        </div>

        <div class="c-footer-nav">
            <dl>
                <dt>Store</dt>
                <dd><a href="#">Home</a></dd>
                <dd><a href="#">Personal Center</a></dd>
                <dd><a href="#">Shopping Cart</a></dd>
            </dl>
            <dl>
                <dt>Product</dt>
                <dd><a href="#">Home</a></dd>
                <dd><a href="#">All Product</a></dd>
                <dd><a href="#">Blog Posts</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a href="#">Purchase Guide</a></dd>
                <dd><a href="#">Privacy Policy</a></dd>
                <dd><a href="#">Terms and Conditions</a></dd>
                <dd><a href="#">About Us</a></dd>
                <dd><a href="#">Contact Us</a></dd>
            </dl>
        </div>
        <div class="c-footer-copyright">
            <p>Copyright © 2017. xxxxxxxxxxx  All Rights Reserved.</p>
            <p>Powered by buckydrop.</p>
        </div>

    </div>
</div>