<div class="c-about w-centerBlock">
    <div class="c-section-title">
        <h2>Talk about your brand</h2>
    </div>
    <p>
        Use this text to share information about your brand with your<br />
        customers. Describe a product, share announcements, or<br />
        welcome customers to your store.
    </p>
</div>
