{% extends 'theme.twig' %}
{% block header_meta %}
    <title>Store Name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/common/global.css">
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/common/iconfont.css">
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/home/home.css">
    <script src="http://china.buckydrop.com/china.buckydrop.com/resource/vendor/jquery-3.2.1.min.js"></script>
{% endblock %}

{% block body %}
<div class="w-content">


    <!-- Slider -->
    {% include "slideshow" %}
    <!-- Products -->

    {% include "featured-product" %}
    <!-- Banner -->

    {% include "banner" %}

    <!-- About -->
    {% include "rich-text"  %}

    <!-- Blog -->
    {% include "featured-blog" %}
</div>

<div class="w-footer-padding"></div>
{% endblock %}