.c-section-title h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #212b35;
    text-align: center;
}

/** Product **/
.c-product{
    width: 280px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    overflow: hidden;
    float: left;
}
.c-product .c-product-img{
    width: 280px;
    height: 280px;
    /*background: #ddd;*/
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.c-product .c-product-img img{
    max-width: 280px;
    max-height: 280px;
}
.c-product .c-product-name{
    font-size: 14px;
    line-height: 22px;
    margin: 6px 0;
    color: #212b35;
}

.c-product .c-product-price{
    font-size: 14px;
    line-height: 22px;
    margin: 6px 0;
    color: #212b35;
}

/** crumbs **/
.c-crumbs{
    margin-top: 20px;
    height: 20px;
}
.c-crumbs i{
    font-style: normal;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.c-crumbs a{
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.c-crumbs a:hover{
    color: #333;
}

/** pager **/
.c-pager{
    text-align: center;
    height: 20px;

    margin-top: 40px;
}
.c-pager li{
    font-size: 14px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    color: #999;
    cursor: pointer;
}
.c-pager li.active{
    color: #333 !important;
    cursor: default !important;
}
.c-pager li.disabled{
    color: #aaa !important;
    cursor: default !important;
}
.c-pager li:hover{
    color: #666;
}

/** filter **/
.c-products-filter{height:38px;border:1px solid #eee;background:#f5f5f5;box-sizing:border-box;color:#999;position:relative; margin-top: 40px;}
.c-products-filter .c-products-filter-sort{float:left;height:36px;border:1px solid transparent;border-top:0;border-bottom:0;margin-left:-1px;background:transparent;line-height:36px;padding:0 26px;cursor:pointer;color:#666;position:relative;overflow:visible;font-size:12px}
.c-products-filter .c-products-filter-sort:hover{color:#333}
.c-products-filter .c-products-filter-sort:hover div{display:block}
.c-products-filter .c-products-filter-sort.active{cursor:default;border-color:#eee;background:#fff;color:#1268bb;z-index:2}
.c-products-filter .c-products-filter-sort.active:after{display:none}
.c-products-filter .c-products-filter-sort:focus{outline:0}
.c-products-filter .c-products-filter-sort:after{content:'';width:1px;height:12px;position:absolute;left:-1px;top:12px;background:#ccc}
.c-products-filter .c-products-filter-sort.first-button:after{display:none}
.c-products-filter .c-products-filter-sort div{display:none;position:absolute;top:0;left:-1px;background:#fff;border:#eee;box-shadow:0 0 6px rgba(0,0,0,.17);z-index:2}
.c-products-filter .c-products-filter-sort div a{height:36px;line-height:36px;display:block;cursor:pointer;text-decoration:none;color:#999;padding:0 27px;white-space:nowrap;font-size:12px}
.c-products-filter .c-products-filter-sort div a:hover{color:#333}
.c-products-filter .c-products-filter-sort div a.active{color:#1268bb;cursor:default}
.c-products-filter .c-products-filter-price{float:left;height:26px;line-height:26px;padding:5px 7px;margin-left:-1px;border:1px solid transparent;border-bottom:0;border-top:0;position:relative;font-size:12px}
.c-products-filter .c-products-filter-price:hover{background:#fff;border-color:#eee;box-shadow:0 0 6px rgba(0,0,0,.2);z-index:2;margin-right:-61px}
.c-products-filter .c-products-filter-price:hover button{display:inline-block}
.c-products-filter .c-products-filter-price>*{float:left}
.c-products-filter .c-products-filter-price i{display:block;height:26px;width:40px;line-height:26px;text-align:center;position:relative;z-index:1;font-size:12px;font-style: normal}
.c-products-filter .c-products-filter-price input{display:block;width:48px;height:24px;padding:0 3px 0 42px;border:1px solid #eee;background:#fff;margin-left:-42px}
.c-products-filter .c-products-filter-price input:focus{outline:0}
.c-products-filter .c-products-filter-price span{display:block;height:26px;width:18px;text-align:center}
.c-products-filter .c-products-filter-price button{border:0;width:56px;text-align:center;background:#1268bb;color:#fff;height:24px;line-height:24px;margin-left:5px;margin-top:1px;font-size:12px;cursor:pointer;display:none}
.c-products-filter .c-products-filter-price button:focus{outline:0}
