{% extends 'theme.twig' %}
{% block body_class %}template-index{% endblock %}
{% block body %}
<main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <!-- BEGIN content_for_index -->
                 {% for collection in collections  %}
                    {% include "collection"  %}
                 {% endfor %}
                <!-- END content_for_index -->
            </div>
        </div>
    </main>
{% endblock %}