{% extends 'theme.twig' %}
{% block body_class %}template-customers-login"{% endblock %}
{% block body %}


    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <div class="grid">
                    <div class="grid__item wide--one-third large--one-half small--text-center">
                        <div class="note form-success" id="ResetSuccess" style="display:none;">
                            We've sent you an email with a link to update your password.
                        </div>
                        <div id="CustomerLoginForm">
                            <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
                                <input type="hidden" value="customer_login" name="form_type"><input type="hidden" name="utf8" value="✓">
                                <div class="section-header section-header--large">
                                    <h1 class="section-header__title">Login</h1>
                                </div>
                                {%  if session_has("errors")%}
                                    <div class="errors">
                                        {{ session_get("errors") }}
                                    </div>
                                {% endif %}

                                {{ csrf_field() }}
                                <label for="CustomerEmail" class="label--hidden">Email</label>
                                <input type="email" name="customer[email]" id="CustomerEmail" placeholder="Email"
                                       autocorrect="off" autocapitalize="off" autofocus="">
                                <label for="CustomerPassword" class="label--hidden">Password</label>
                                <input type="password" value="" name="customer[password]" id="CustomerPassword"
                                       placeholder="Password">
                                {#<p>#}
                                    {#<a href="https://www.solestage.com/account/login#"#}
                                       {#onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>#}
                                {#</p>#}
                                <p>
                                    <input type="submit" class="btn" value="Sign In">
                                </p>
                                <p>
                                    <a href="/account/register" id="customer_register_link">Create
                                        account</a>
                                </p>
                                <a href="/">Return to Store</a>
                            </form>
                        </div>
                        {#忘记密码弹出 ui 开始#}
                        {#<div id="RecoverPasswordForm" style="display: none;">#}
                            {#<div class="section-header section-header--large">#}
                                {#<h2 class="section-header__title">Reset your password</h2>#}
                            {#</div>#}
                            {#<p>We will send you an email to reset your password.</p>#}

                            {##}
                            {#<form method="post" action="https://www.solestage.com/account/recover"#}
                                  {#accept-charset="UTF-8"><input type="hidden" value="recover_customer_password"#}
                                                                {#name="form_type"><input type="hidden" name="utf8"#}
                                                                                        {#value="✓">#}
                                {#<label for="RecoverEmail" class="label--hidden">Email</label>#}
                                {#<input type="email" value="" name="email" id="RecoverEmail" placeholder="Email"#}
                                       {#autocorrect="off" autocapitalize="off">#}
                                {#<p>#}
                                    {#<input type="submit" class="btn" value="Submit">#}
                                {#</p>#}
                                {#<a href="https://www.solestage.com/account/login#"#}
                                   {#onclick="hideRecoverPasswordForm();return false;">Cancel</a>#}
                            {#</form>#}

                        {#</div>#}

                    </div>
                </div>
                <script>
                    /*
                    Show/hide the recover password form when requested.
                    */
                    function showRecoverPasswordForm() {
                        document.getElementById('RecoverPasswordForm').style.display = 'block';
                        document.getElementById('CustomerLoginForm').style.display = 'none';
                    }

                    function hideRecoverPasswordForm() {
                        document.getElementById('RecoverPasswordForm').style.display = 'none';
                        document.getElementById('CustomerLoginForm').style.display = 'block';
                    }

                    // Allow deep linking to the recover password form
                    if (window.location.hash == '#recover') {
                        showRecoverPasswordForm()
                    }

                    // reset_success is only true when the reset form is

                </script>

            </div>
        </div>
    </main>


{% endblock %}