<div class="c-blogItem">
    <a class="c-blogItem-img" href="#">
        <img src="http://china.buckydrop.com/china.buckydrop.com/img/home/blog01.jpg" alt="">
    </a>
    <p class="c-blogItem-title">Your post's title</p>
    <p class="c-blogItem-desc">Your store hasn’t published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers...</p>
    <p class="c-blogItem-info">
        <i class="iconfont icon-shijian">2017-12-02</i>
        <i class="iconfont icon-wodejuhuasuan">Author</i>
    </p>
</div>