<div class="c-product">
    <a class="c-product-img" href="#">
        <img src="http://china.buckydrop.com/china.buckydrop.com/img/home/product01.jpg" alt="">
    </a>
    <p class="c-product-name">Your product's name</p>
    <p class="c-product-price">¥19.99</p>
</div>
