<div id="shopify-section-footer" class="shopify-section">
    <footer class="site-footer small--text-center" role="contentinfo">
        <div class="wrapper">
            <div class="grid-uniform">
                <div class="grid__item post-large--one-fifth medium--one-half">
                    {#<h3 class="h4">Alhambra Store</h3>#}
                    {#<div class="rte">#}
                        {#<p>34 W Main St, Alhambra, CA 91801</p>#}
                        {#<p></p>#}
                        {#<p></p>#}
                        {#<p>Mon&nbsp;12:00-8:00 PM</p>#}
                        {#<p>Tue&nbsp;12:00-8:00 PM</p>#}
                        {#<p>Wed&nbsp;12:00-8:00 PM</p>#}
                        {#<p>Thu&nbsp;12:00-8:00 PM</p>#}
                        {#<p>Fri&nbsp;12:00-9:00 PM</p>#}
                        {#<p>Sat 12:00-9:00 PM</p>#}
                        {#<p>Sun&nbsp;12:00-6:00 PM</p>#}
                    </div>
                </div>
                <div class="grid__item post-large--one-fifth medium--one-half">
                    {#<h3 class="h4">Irvine Store</h3>#}
                    {#<div class="rte">#}
                        {#<p>2700 alton pkwy, Irvine, CA &nbsp;92606</p>#}
                        {#<p></p>#}
                        {#<p>12:00-10:00 PM</p>#}
                        {#<p>Daily</p>#}
                    {#</div>#}
                </div>
                <div class="grid__item post-large--one-fifth medium--one-half">
                    {#<h3 class="h4">Fairfax Store</h3>#}
                    {#<div class="rte">#}
                        {#<p>455 N fairfax ave, Los Angeles, CA</p>#}
                        {#<p></p>#}
                        {#<p>Mon-Sat 11:00 AM - 7:00 PM</p>#}
                        {#<p>Sun 11:00 AM - 6:00 PM</p>#}
                    {#</div>#}
                </div>
                <div class="grid__item post-large--one-fifth medium--one-half">
                    <h3 class="h4">Follow Us</h3>
                    <ul class="inline-list social-icons">
                        <li>
                            <a class="icon-fallback-text" href="https://www.instagram.com/solestage/" title="Solestage  on Instagram">
                                <span class="icon icon-instagram" aria-hidden="true"></span>
                                <span class="fallback-text">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__item post-large--one-fifth medium--one-half">
                    <h3 class="h4">Contact us</h3>
                    <div class="rte">
                        <p>(626) 458-1111</p>
                        <p>7 days a week: 12pm - 8pm EST</p>
                        <p>buckydrop@gmail.com</p>
                    </div>
                </div>
            </div>

            <hr class="hr--small hr--clear">
            <div class="grid">
                <div class="grid__item text-center">
                    <p class="site-footer__links">Copyright © 2017, <a href="/" title="">buckyDrop </a>. <a target="_blank" rel="nofollow" href="https://www.buckydrop.com/">Powered by buckydrop</a></p>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item text-center">
                    <ul class="inline-list payment-icons">
                        <li>
                                <span class="icon-fallback-text">
                  <span class="icon icon-paypal" aria-hidden="true"></span>
                                <span class="fallback-text">paypal</span>
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>