<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% block header_meta  %}
    <title>Store Name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/common/global.css">
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/common/iconfont.css">
    <link rel="stylesheet" type="text/css" href="http://china.buckydrop.com/china.buckydrop.com/css/home/home.css">
    <script src="http://china.buckydrop.com/china.buckydrop.com/resource/vendor/jquery-3.2.1.min.js"></script>
{% endblock %}

</head>

<body>
<div class="w-wrap">

    <div class="w-main">

        <!-- header -->
        <div class="w-header">
            <div class="w-centerBlock clearfix">
                {% include "logo" with {sections:settings.sections.header} %}
                <div class="c-header-nav">
                    <a href="/">Home</a>
                    <a href="/collections">Products</a>
                    <a href="#">Blog</a>
                    <a href="#">Personal Center</a>
                    <a href="#">About</a>
                </div>
                <div class="c-header-tool">
                    <i class="iconfont icon-sousuo"></i>
                    <i class="iconfont icon-gouwuche"> Cart: 0</i>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

    </div>

    <!-- footer -->
    {% include "footer" with {sections:settings.sections.footer} %}

</div>
	
<!--<script src="../../js/home/home.js"></script>-->
</body>
</html>
